.movie-list {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    padding: 10px;
    align-self: center;
    gap: 15px;
    margin-top: 80px;
}