*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.movie-app-container {
    display: flex;
    flex-direction: column;
}